body {
	overflow-x: hidden;
	padding:0;
	margin:0;
	font-family:Arial;
	font-size:14px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	background-image: url("../images/background2.jpg");
	    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;            /* optionally, center the image */

}



#navbar {
	z-index: 50;
	font-size:12px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight:bold;
	display:none;
	height:67px;
	width:100%;
	background-color:#18202A;
	position:fixed;
	
}

#navbar_wrapper {
	
	margin:-3px auto;
	text-align:left;
	float:left;
	
}

#logo {
	
	max-height:65px;
	float:left;
	
}

#logo_background {
	
	background-color:#27303E;
	display:table;
	width:150px;
	height:50px;
	float:left;
	
}


#profilepicture {

	max-height:63px;
	float:left;
	border-color:#27303E;
	border: 1px solid;
}

#navbar ul {
	
	list-style-type:none;
	padding:0;
	margin:0;
	max-width:600px;
}

#navbar ul li {
	
	color:#FFFFFF;
	display:inline-block;
	padding-left:10px;
	padding-right:10px;
	border-right:2px solid;
	border-color:#27303E;
	-webkit-transition: all 1.5s ease-out;
    -moz-transition: all 1.5s ease-out;
    -o-transition: all 1.5s ease-out;
    -ms-transition: all 1.5s ease-out;
    transition: all 1.5s ease-out;
	
}

#navbar ul li:hover {
	
	-webkit-opacity:1;
	-moz-opacity:1;
	opacity:1;
	-webkit-transition:all 1.5s ease;
	-moz-transition:all 1.5s ease;
	-ms-transition:all 1.5s ease;
	-o-transition:all 1.5s ease;
	transition:all 1.5s ease;
	background-color:#97C9FC;
	
}

#navbar ul li a, text {
	
	color:#FFFFFF;
	display:block;
	padding:26px;
	text-decoration:none;
	
}


#login {

	position:absolute;
	display:inline-block;
	right:0px;
	border-left:2px solid;
	border-color:#27303E;

}

#settings {

	position:absolute;
	display:inline-block;
	right:110px;
	border-left:2px solid;
	border-color:#27303E;
}

#settingspanel {
	z-index: 20;
	font-size:14px;
	position:fixed;
	right:0px;
	top: 68px;
	width: 230px;
	padding-right:5px;
	display:none;
	background-color: rgba(151,201,252,0.5);
	border-bottom-left-radius:10px; 
}

#settingspanel h1 {
	font-size: inherit;
	width: inherit;
	background-color: #abcdef;
	padding-left: 10px;
	margin-bottom: -5px;
}

#settingspanel li {
	font-weight: normal;
	list-style-type: none;
	line-height: 20px;
}

#settingspanel input {
	border: none;
}

.settingsbutton {
	
	background:none!important;
    border:none;
	font-size:12px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight:bold;
    color:#FFFFFF;
    padding:0!important;

}

.loginbutton {

    background:none!important;
    border:none;
	font-size:12px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight:bold;
    color:#FFFFFF;
    padding:0!important;

}



#element_to_pop_up { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:400px;
    min-height: 180px;
}

#element_to_pop_up #signupLink {
	color: #9E09F4;
	text-decoration: none;
}

#element_to_pop_up #signupLink:hover {
	text-decoration: underline;
	color: #590E84;
}



.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}





#whitespace {
	height: 67px;
	z-index: -50;

}


#infinite_scrolling_div {
	z-index: 1;
	overflow: auto;
	height: 550px; 
	padding-left:10px;
	padding-right:10px;
	margin: auto -20px;
	overflow-x: inherit;

}

#infinite_scrolling_div::-webkit-scrollbar { 
    display: none; 
}

.post {
	/*display:none; */
	z-index: 2;
	margin-left:auto;
	margin-right:auto;
	width: 770px;
	color: #000;
	border: 3px solid black;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	margin-top: 20px;
	word-wrap:break-word;
	background-color: #fff;
	border-radius: 10px;
	opacity:0.9;
}

.post a:link, a:visited {
	color: #9E09F4;
	text-decoration: none;
}

.post a:hover {
	text-decoration: underline;
	color: #590E84;
}

.post .profile {
	max-width: 100px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.post .bottom {
	clear: both;
	width: inherit;
	color: #AAA;
	font-size: 10px;
	text-align: right;
	padding-bottom: 2px;
}

.twitterpost {
	border-color: #55ACEE;
}

.googlepluspost {
	border-color: #DD4B39;
}

.facebookpost {
	border-color: #45629D;
}


.contentfade {
	
	display:none;
	
}





#signup {
	width:50%;
	height:auto;
	padding-bottom: 10px;
	margin:0 auto;
	font-size:12px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight:bold;
	background-color:#fff;
	border:3px solid #fff;
	border-radius:10px;
	opacity:0.9;
	margin-top:50px;
	margin-bottom: 20px;
}

#signup_left {
	width:50%;
	float:left;
	text-align:center;
	height:330px;
}

#signup_right {
	margin-left:50%;
	text-align:center;
	height:330px;
}


#signup_button {
	height:25px;
	width:80px;
	border-radius:5px;
}

#about {
	width:50%;
	height:auto;
	margin:0 auto;
	font-size:12px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight:bold;
	background-color:#fff;
	border:3px solid #fff;
	border-radius:10px;
	opacity:0.9;
	margin-top:50px;
}

#about p {
	padding: 10px;
}

.bigBox h1 {
	text-align: center;
	color: #5978EF;
 	text-shadow: 0 1px 0 #455EB7,
               0 2px 0 #455EB7,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

input[type=search] { 
	/*color: red;*/  
	text-align: left;
	cursor: pointer;
	/*display: block; */
	width: 100%;
	/*letter-spacing: 4px;        
	text-shadow: 0 0 2px black;       
	word-spacing: 20px;*/               
}

::-webkit-input-placeholder {
  /*color: orangered;*/
}